* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 0 auto;
}
/* Header */
header {
    background-color: #0050ac;
    color: white;
    padding: 10px;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header .logo {
    margin-left: 20px;
}
header .logo h1 {
    text-align: left;
    font-size: 40px;
    margin: 0;
    font-family: 'Script Fonts';
    font-weight: bold;
}
nav a.home {
    color: #fff;
    font-weight: bold;
}
header nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}
header nav ul li {
    margin-left: 20px;
}
header nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 18px;
}
header nav ul li a:hover {
    color: rgb(87, 87, 172);
}
/* Đăng ký & đăng nhập */
.register-button, .login-button {
    padding: 8px 16px;
    background-color: #28a745;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 16px;
    cursor: pointer;
    margin-left: 10px;
}
.login-button:hover, .register-button:hover {
    background-color: #218838;
}
.loginregister {
    display: flex;
    align-items: center;
    margin-right: 20px;
}
/* Thanh tìm kiếm */
.search {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}
.search-input {
    padding: 5px 10px;
    border-radius: 15px;
    border: 1px solid #ccc;
    outline: none;
    font-size: 14px;
    margin-right: 5px;
}
.search-input:focus {
    border-color: #007BFF;
}
.search-button {
    padding: 5px 10px;
    border: none;
    border-radius: 15px;
    background-color: #007BFF;
    color: white;
    cursor: pointer;
}
.search-button:hover {
    background-color: #0056b3;
}
/* Background image */
.background {
    text-align: center;
    margin-top: 20px;
}
.background img {
    width: auto;
    border: 0 solid #fff;
    border-radius: 20px;
    object-fit: cover;
}
/* Footer */
footer {
    text-align: center;
    background-color: #0050ac;
    padding: 20px;
    color: white;
    width: 100%;
    position: fixed;
    bottom: 0;
}
.slideshow-container {
    position: relative;
    max-width: 960px;
    margin: auto;
    background-color: #fff;
    border-radius: 10px;
    overflow: hidden;
    aspect-ratio: 16 / 9;
}
.mySlides {
    display: none;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}
.mySlides.active {
    display: block;
    opacity: 1;
}
.mySlides img {
    width: 100%;
    height: auto;
    object-fit: cover;
}
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: background-color 0.3s ease;
    -webkit-user-select: none;
    user-select: none;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 3px;
}
.next {
    right: 0;
}
.prev:hover, .next:hover {
    background-color: rgba(0, 0, 0, 0.7);
}
@keyframes fade {
    from { opacity: 0.4; }
    to { opacity: 1; }
}
.dot {
    cursor: pointer;
    height: 10px;
    width: 10px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}
.active, .dot:hover {
    background-color: #717171;
}
